<div class="directive-wrapper" style="padding: 20px">
    <div class="directive-title">
        <h3>Status Pill : Directive</h3>
    </div>
    <div class="directive-content">
        <div class="directive-definition row" style="margin-bottom: 20px">
            <status-pill configuration="statusPill.configuration"></status-pill>
        </div>
        <div class="directive-configuration row">
            <h4>Configuration</h4>
            <pre>{{statusPill.configuration | json}}</pre>
        </div>
    </div>
</div>