$red: #D93737;
$yellow: #FEAF0D;
$green: #2DA953;
$white: #FDFCF9;
$blue: #0490EF;
$neutral: #2B2E3C;
$gray: #E7E1D7;
$light-gray: #F8F5EF;
$medium-gray: #CDC8BF;
$dark-gray: #8D8D88;
$steel: #677180;
$ghost: #F8F5EF;
$black: #222222;
$primary: $blue;
$primary-color: $primary;
$warning-color: $red;
$text-light: $steel;

.icon {
    vertical-align: middle;
}

.text-light {
    color: $text-light;
}


